<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/from.css">
</head>
<body>
    <form method="post" action="/post">
        
        <label for="user">Username</label><br>
        <input type="text" name="username" id="user">
        <br>
        <br>
        <label for="post">Post</label> <br>
        <input type="text" name="contain" id="post" >
        <br>
        <br>
        <button>Submit</button>
    </form>
    
</body>
</html>